<!DOCTYPE html>
<html>
  <head>
    <title>Itinerus</title>
    <% include _common_head.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/results.css' />
    <script src='javascripts/index.js'></script>
  </head>
  <body>
	<% include _navbar.ejs %>
	<div id="search_page" class="page">
		<div id="search_banner">
		  	<div class="container">
		  		<div id="search" class="row">
		  			<div class="col-md-offset-3 col-md-6 col-xs-12">
				  	  <div class="input-group input-group-lg">
						<input id="search_box" type="text" class="form-control typeahead" autocomplete="off" placeholder="What city are you traveling to?">
						<span class="input-group-btn">
					        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
					      </span>
					  </div>
					</div>
				</div>
		  	</div>
		</div>
		<hr class="shadow" />
		<div id="marketing" class="container">
			<div class="row">
			<div class="col-md-4 col-sm-12">
				<i class="fa fa-code-fork"></i>
				<h2 class="font1">Schedule optimally</h2>
				<p class="lead">
					Don't lose valuable time in your trip by bad scheduling.
					Itinerus gives you the most efficient way to visit all the places you want.
				</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<i class="fa fa-map-marker"></i>
				<h2 class="font1">Submit Places</h2>
				<p class="lead">
					Help fellow users by submit the places you KNOW are good and make them search-able in Itinerus.
				</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<i class="fa fa-suitcase"></i>
				<h2 class="font1">Share the Schedule</h2>
				<p class="lead">
					Traveling with friends?  Send the finished itinerary by email, text and more.
				</p>
			</div>
		</div>
	</div>
	<div id="step1_page" class="page" style="display: none;">
	  	<div id="selected_city">
	  		<h1>Puerto Rico</h1>
	  	</div>
		<div id="place_selection">
		</div>
		<p class="text-center">
			<button id="itinerize_btn" class="btn btn-default btn-lg">Itinerize</button>
		</p>
	</div>
	<div id="loading_page" class="page" style="display: none;">
		<div class="loader-gif"></div>
		<h3 class="text-center">Computing optimal itineraries...</h3>
	</div>
	<div id="results_page" class="page" style="display: none;">

	</div>
  </body>
</html>
