<!DOCTYPE html>
<html>
  <head>
    <title>Itinerus</title>
    <% include _common_head.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  	<% include _navbar2.ejs %>
  	<div id="selected_city" style="display: block;">
  		<h1>Puerto Rico</h1>
  	</div>
  	<div id="search_banner" style="display: none;">
	  	<div class="container">
	  		<div id="search" class="row">
	  			<div class="col-md-offset-3 col-md-6 col-xs-12">
			  	  <div class="input-group input-group-lg">
					<input id="search_box" type="text" class="form-control typeahead" autocomplete="off" placeholder="What city are you traveling to?">
					<span class="input-group-btn">
				        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
				      </span>
				  </div>
				</div>
			</div>
	  	</div>
	</div>
	<div class="select_instructions">
	</div>
	<div id="place_selection">
		<% include _top_places.ejs %>
	</div>
  </body>
</html>
