<!DOCTYPE html>
<html>
  <head>
    <title>Itinerus</title>
    <% include _common_head.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/results.css' />
    <script src='javascripts/index.js'></script>
  </head>
  <body>
  	  <% include _navbar2.ejs %>
	  <% include _results.ejs %>
  </body>
</html>