#search_page.page #search_banner {
  background-image: url("../images/beach.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 400px;
}
#search_page #search.row {
  margin-top: 150px;
}
#search_page #search.row .input-group {
  width: 100%;
}
#search_page #search_box {
  font-size: 20px;
}
#search_page .typeahead {
  width: 100%;
  font-size: 18px;
}
#search_page #marketing {
  text-align: center;
}
#search_page #marketing i {
  color: #222;
  font-size: 6em;
}

/*===== PAGE 2*/
#selected_city {
	margin-top: -20px;
	height: 60px;
	text-align: center;
	color: white;
	background: #133FC4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 5px;
}
#selected_city h1 {
	padding-top: 10px;
}

.right-hover-scroll {
  position:absolute;
  right:0;
  height: 240px;
  width:150px;
  z-index: 1;
  float: right;
}
.left-hover-scroll {
  position:absolute;
  left:0;
  height: 240px;
  width: 150px;
  z-index: 1;
}

#top_places {
  height: 280px;
  background-color: #222;
  color: white;
  position:relative;
}
#top_places .picture-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 240px;
}
#top_places h2 {
  margin: 0px;
  padding: 10px;
}
/*take from: http://designshack.net/articles/css/joshuajohnson-2/*/
#top_places .picture {
  position: relative;
  border: 6px solid #fff;  
  /*float: left;*/
  display: inline-block;
  height: 200px;
  width: 200px;
  margin: 10px;
  overflow: hidden;
  /*white-space: nowrap;*/
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
#top_places .picture:hover {
  cursor: pointer;
}
#top_places .picture img {
  max-height: 300px;
  max-width: 300px;
}
/*taken from http://www.alessioatzeni.com/blog/css3-hover-effects/*/
#top_places .picture .mask {
   position:absolute;
   top:0px;
   left:0px;
   cursor:pointer;
   /*border-radius: 50px;*/
   /*border-width: 50px;*/
   display: inline-block;
   height: 100px;
   width: 100px;
   /*border: 50px solid rgba(0, 0, 0, 0.7);*/
   background-color: rgba(0, 0,0,0.7);
   /*box-sizing:border-box;*/
   opacity:1;
   visibility:visible;
   transform:scale(4);
   transition:all 0.1s ease-in-out;
}
#top_places .picture:hover .mask {
   opacity: 0;
   background-color: rgba(0,0,0,0.0);
   visibility:hidden;
}
#top_places .picture .checkmark {
  position: absolute;
  bottom: 0px;
  right: 0;
  font-size: 2.5em;
  padding: 6px;
  height: 50px;
  color: white;
  background-color: #222;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0;
}
#top_places .picture:hover .checkmark {
  opacity: 1;
  transition:all 0.1s ease-in-out;
}
#top_places .picture .checkmark i {
  position: relative;
  top: -8px;
}

#top_places .picture.active .checkmark {
  opacity: 1;
  background-color: green;
}
#top_places .picture.active .mask {
   opacity: 0;
   background-color: rgba(0,0,0,0.0);
   visibility:hidden;
}

.content-panes {
  min-height: 200px;
}
  
.loader-gif {
  margin-top: 40px;
  background: url("../images/495.GIF") center center no-repeat;
  height: 200px;
}