#selected_city {
	margin-top: -20px;
	height: 60px;
	text-align: center;
	color: white;
	background: #133FC4;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 5px;
}
#selected_city h1 {
	padding-top: 10px;
}

#search.row {
	margin-top: 100px;
}
#search.row .input-group {
	width: 100%;
}

#top_places {
  height: 280px;
  background-color: #222;
  color: white;
}
#top_places h2 {
  margin: 0px;
  padding: 10px;
}
/*take from: http://designshack.net/articles/css/joshuajohnson-2/*/
#top_places .picture {
  position: relative;
  border: 6px solid #fff;  
  float: left;
  height: 200px;
  width: 200px;
  margin: 10px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}
#top_places .picture:hover {
  cursor: pointer;
}
#top_places .picture img {
  max-height: 300px;
  max-width: 300px;
}
/*taken from http://www.alessioatzeni.com/blog/css3-hover-effects/*/
#top_places .picture .mask {
   position:absolute;
   top:0px;
   left:0px;
   cursor:pointer;
   /*border-radius: 50px;*/
   /*border-width: 50px;*/
   display: inline-block;
   height: 100px;
   width: 100px;
   /*border: 50px solid rgba(0, 0, 0, 0.7);*/
   background-color: rgba(0, 0,0,0.7);
   /*box-sizing:border-box;*/
   opacity:1;
   visibility:visible;
   transform:scale(4);
   transition:all 0.1s ease-in-out;
}
#top_places .picture:hover .mask {
   opacity: 0;
   /*border:0px solid rgba(0,0,0,0.7);*/
   background-color: rgba(0,0,0,0.0);
   visibility:hidden;
}
#top_places .picture .checkmark {
  position: absolute;
  bottom: 0px;
  right: 0;
  font-size: 2.5em;
  padding: 6px;
  height: 50px;
  color: white;
  background-color: #222;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 0;
}
#top_places .picture:hover .checkmark {
  opacity: 1;
  transition:all 0.1s ease-in-out;
}
#top_places .picture .checkmark i {
  position: relative;
  top: -8px;
}


/* Place */
.photo {
	margin: 20px;
	padding: 5px;
	/*padding-bottom: 20px;*/
	border: 1px solid #ddd;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width: 440px;
}
.placevent {
  background: 
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/elyunque.jpg);
  /*background-size: 500px;*/
  width: 400px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: 10px;
  border-radius: 2px;
}
.placevent > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
}
.placevent > header > h1 {
  margin: 0;
  color: white;
  text-shadow: 0 1px 0 black;
  font-weight: bold;
}