.bnavbar {
	padding: 0px 20px;
	background-color: #F3A919;
	font-size: 20px;
	height: 60px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 10;
}
.navbar-header, .navbar-collapse {
	padding-top:4px;
	height: 100% !important;
}
.bnavbar a.brand {
	font-size: 32px;
	display: block;
	padding: 4px;
	min-width: 50px;
	text-decoration: none;
}
.bnavbar a {
	color: white;
	cursor: pointer;
}
.bnavbar ul>li>a:hover {
	color: white;
	background-color: #F3A919;
	border-bottom: 6px solid white;
	cursor: pointer;
}