/*http://paletton.com/#uid=30W0u0ksIuvhPCXmTvSv2ox-gjo*/
.latofont {
	font-family: 'Lato', sans-serif;
}
.montserratfont {
	font-family: 'Montserrat', sans-serif;
}

hr.shadow {
	margin-top: 0px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}